* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}
/* #region MOBILE */

/* #region HEADER */
.navbar-brand{
  width: 120px;
  border-radius: 15px;
}

.navbar{
  background-image: linear-gradient(to right,rgb(14, 14, 14),rgb(36, 36, 36));
}

.navbar-expand-lg .navbar-collapse{
  justify-content: flex-end;
}

.navbar-nav{
  align-items: flex-end;
}

.nav-link{
  color: white;
}

.navbar-nav .nav-link.active
{
  font-weight: bolder;
  color: rgb(155, 148, 148);
}
.navbar-nav .nav-link:hover{
  background-color: grey;
  transform: scale(1,1.3);
  transition: .3s;
}
/* #endregion HEADER */

/* #region CONTENIDO PRINCIPAL */
body{
  background-image: radial-gradient(rgb(73, 73, 73), black);
}

.section {
  grid-area: section;
  color: white;
  text-align: center;
}
.section h2{
  margin-top: 35px;
}
.section h3{
  margin-top: 15px;
}

.contenedorCards{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
}
.card{
  border-radius: 20px;
  width: 250px;
  background-image: linear-gradient(45deg, white, rgb(61, 61, 61));
  margin: 5px;
  padding: 5px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contenedorCards .card .contImgCard img{
  width: 230px;
  border-radius: 20px;
}

.contenedorCards .card .contImgCard img:hover{
  transform: scale(1,1.1) translateY(15px);
  transition: .3s;
}
.contenedorCards .card .contTxtCard{
  color: black;
}

.contenedorCards .card .contBtnCard .verMas{
  background-image: linear-gradient(to right, rgb(180, 57, 57), rgb(43, 22, 22));
  border-radius: 5px;
  color:rgb(255, 255, 255);
  font-size: 15px;
  padding: 3px;
}

.contenedorCards .card .contBtnCard .verMas:hover{
  background-image: linear-gradient(to right, rgb(160, 110, 110), rgb(199, 67, 67));
  transform: scale(1,1.3);
  transition: .3s;
}

/* #endregion */

/* #region PROMOS */
.cartelAlerta{
  background-image: radial-gradient(rgb(70, 3, 3),rgb(233, 6, 6)) ;
  animation-name: aparecer;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-delay: .3s;
}
/* #endregion */

/* #region CLUB DE VINOS */
.contClubDeVinos {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 340px 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "titulo titulo"
    "imgClub imgClub"
    "contenido contenido"
    "formulario formulario";
}

.titulo { 
  grid-area: titulo; 
  margin-top: 10px;  
}

.imgClub { 
  grid-area: imgClub;
}
.imgClubDelVino{
  width: 90%;
  margin: 10px;
}

.contenido { 
  grid-area: contenido; 
  margin: 20px 0px;
}

.formulario { grid-area: formulario; }

.contenedorFormFlex{
  display: flex;
  justify-content: center;
}

.form{
  display: flex;
  flex-direction: column;
  background-color: rgba(104, 16, 16, 0.61);
  border-radius: 10px;
  width: 90%;
  margin: 30px;
}

.form input{
  display: block;
  margin: 10px;
  background-color: black;
  color: white;
  text-align: center;
}

.form input:hover{
  background-color: rgb(32, 32, 32);
}
.form textarea{
  margin: 10px;
  background-color: rgba(82, 7, 7, 0.678);
}

.form textarea:hover{
  background-color: rgba(97, 12, 12, 0.678);
}

/* #endregion */

/* #region IFRAME */
.iframe {
  display: flex;
  justify-content: center;
}
.iframe iframe{
    margin:50px 0px;
    width: 90%; 
    height: 250px;
}
/* #endregion */

/* #region FOOTER */
.footer {
  display: flex;
  justify-content: center;
}
.footer h4{
    text-align: center;
    color: white;
    font-size: 20px;
}
.footer ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
    margin: 10px 0px;
}

.contenedorHorarios ul{
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
}
.contenedorPagos ul li img{
  width: 28px;
  margin: 2px;
}

/* #endregion */

@keyframes aparecer{
  0%{opacity: 0;}
  100%{opacity: 1;}
}
/*#endregion MOBILE  */

/* #region TABLET */
@media (min-width: 768px) {
  .gridContainer {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20vh 30vh 1fr 290px;
    grid-template-areas:
      "header header"
      "banner banner"
      "section section"
      "footer iframe";
  }
  
  .header { 
    grid-area: header; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .header img{
    width: 100px;
    border-radius: 50px;
  }

  .header ul {
    width: 100%;
    justify-content: space-between;
  }

  .header ul li a{
    font-size: 1rem;
    margin: 10px;
  }
  .banner { 
    grid-area: banner; 
  }
  .section { 
    grid-area: section;
  }
  .contenedorCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .footer { 
    grid-area: footer;
    align-items: center;
   }
   /* --------------------------------------CLUB DE VINOS--------------------------------- */
   .contClubDeVinos {  
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 50px 1fr 1fr;
    grid-template-areas:
      "titulo titulo"
      "imgClub contenido"
      "formulario formulario";
  }
  
  .titulo { 
    grid-area: titulo; 
  }
  
  .imgClub { 
    grid-area: imgClub; 
  }
  
  .contenido { 
    grid-area: contenido; 
  }
  
  .formulario { 
    grid-area: formulario; 
  }

}
/* #endregion TABLET */

/* #region DESKTOP */
@media (min-width: 1024px) {
  .gridContainer {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 27vh 45vh 1fr 290px;
    grid-template-areas:
      "header header"
      "banner banner"
      "section section"
      "footer iframe";
  }
  
  .header { 
    grid-area: header; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
  }

  .header img{
    width: 140px;
    border-radius: 50px;
  }

  .header ul {
    width: 100%;
    justify-content: space-evenly;
  }

  .header ul li a{
    font-size: 18px;
    margin: 15px;
  }
  
  .banner { 
    grid-area: banner; 
  }

  .banner img{
    height: 230px;
  }
  
  .section { 
    grid-area: section;
  }

  /*  */
  
  .contenedorCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer { 
    grid-area: footer;
    align-items: flex-end;
    margin: 20px;
   }
  
  .iframe { grid-area: iframe; }

  /* ---------------------CLUB DE VINOS---------------------- */
  .contClubDeVinos {  
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 50px 1fr 1fr;
    grid-template-areas:
      "titulo titulo"
      "imgClub contenido"
      "formulario formulario";
  }
  
  .titulo { 
    grid-area: titulo; 
  }
  
  .imgClub { 
    grid-area: imgClub; 
  }
  
  .contenido { 
    grid-area: contenido; 
  }
  
  .formulario { 
    grid-area: formulario; 
  }
  
}
/*#endregion DESKTOP */


