* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif; }

.navbar .container-fluid .navbar-collapse .navbar-nav, .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .active {
  font-weight: bolder;
  color: #9b9494; }

body .section .contenedorCards .card {
  border-radius: 20px;
  width: 250px;
  background-image: linear-gradient(45deg, white, #3d3d3d);
  margin: 5px;
  padding: 5px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.footer .contenedorContactos h4, .footer .contenedorHorarios h4, .footer .contenedorPagos h4 {
  text-align: center;
  color: white;
  font-size: 20px; }

.footer .contenedorContactos ul, .footer .contenedorHorarios ul, .footer .contenedorPagos ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  font-size: 15px;
  margin: 10px 0px; }

.navbar {
  background-image: linear-gradient(to right, #0e0e0e, #242424); }
  .navbar .container-fluid a .navbar-brand {
    width: 120px;
    border-radius: 15px; }
  .navbar .container-fluid .navbar-collapse {
    justify-content: flex-end; }
    .navbar .container-fluid .navbar-collapse .navbar-nav {
      align-items: flex-end; }
      .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
        color: white; }
        .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
          background-color: grey;
          transform: scale(1, 1.3);
          transition: .3s; }

body {
  background-image: radial-gradient(#494949, black); }
  body .section {
    grid-area: section;
    color: white;
    text-align: center; }
    body .section h2 {
      margin-top: 35px; }
    body .section h3 {
      margin-top: 15px; }
    body .section .contenedorPrincipal {
      display: flex;
      margin: 50px;
      flex-direction: column; }
      body .section .contenedorPrincipal .regalo {
        margin: 10px;
        display: flex;
        flex-direction: column;
        border: 2px #412b2b dotted;
        border-radius: 15px;
        padding: 10px;
        justify-content: flex-start;
        align-items: center; }
        body .section .contenedorPrincipal .regalo:hover {
          border: 2px #a81414 dotted; }
        body .section .contenedorPrincipal .regalo img {
          width: 170px;
          border-radius: 5px;
          border: 2px black solid; }
          body .section .contenedorPrincipal .regalo img:hover {
            transform: skew(2deg, -2deg);
            transition: .3s; }
        body .section .contenedorPrincipal .regalo .textoRegalo {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          margin: 10px; }
    body .section .contenedorCards {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%; }
      body .section .contenedorCards .card .contImgCard img {
        width: 230px;
        border-radius: 20px; }
        body .section .contenedorCards .card .contImgCard img:hover {
          transform: skew(2deg, -2deg);
          transition: .3s; }
      body .section .contenedorCards .card .contTxtCard {
        color: black; }
      body .section .contenedorCards .card .contBtnCard .verMas {
        background-image: linear-gradient(to right, #b43939, #2b1616);
        border-radius: 5px;
        color: white;
        font-size: 15px;
        padding: 3px; }
        body .section .contenedorCards .card .contBtnCard .verMas:hover {
          background-image: linear-gradient(to right, #a06e6e, #c74343);
          transform: scale(1, 1.3);
          transition: .3s; }

.cartelAlerta {
  background-image: radial-gradient(#460303, #e90606);
  animation-name: aparecer;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-delay: .3s; }

.promociones {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "promo1 descripcionPromo1" "descripcionPromo2 promo2" "promo3 descripcionPromo3" "descripcionPromo4 promo4"; }
  .promociones .promo1 {
    grid-area: promo1;
    background-image: radial-gradient(#663d3d, #353333); }
  .promociones .descripcionPromo1 {
    grid-area: descripcionPromo1;
    background-image: radial-gradient(#663d3d, #551c1c);
    color: white; }
  .promociones .descripcionPromo2 {
    grid-area: descripcionPromo2;
    background-image: radial-gradient(#663d3d, #551c1c);
    color: white; }
  .promociones .promo2 {
    grid-area: promo2;
    background-image: radial-gradient(#663d3d, #353333); }
  .promociones .promo3 {
    grid-area: promo3;
    background-image: radial-gradient(#663d3d, #353333); }
  .promociones .descripcionPromo3 {
    grid-area: descripcionPromo3;
    background-image: radial-gradient(#663d3d, #551c1c);
    color: white; }
  .promociones .descripcionPromo4 {
    grid-area: descripcionPromo4;
    background-image: radial-gradient(#663d3d, #551c1c);
    color: white; }
  .promociones .promo4 {
    grid-area: promo4;
    background-image: radial-gradient(#663d3d, #353333); }
  .promociones .fotoIzq {
    display: flex;
    justify-content: flex-end; }
    .promociones .fotoIzq img {
      width: 140px;
      margin: 5px;
      border: 2px black solid; }
      .promociones .fotoIzq img:hover {
        transform: skew(2deg, -2deg);
        transition: .3s; }
  .promociones .fotoDer {
    display: flex;
    justify-content: flex-start; }
    .promociones .fotoDer img {
      width: 140px;
      margin: 5px;
      border: 2px black solid; }
      .promociones .fotoDer img:hover {
        transform: skew(2deg, -2deg);
        transition: .3s; }
  .promociones .descrip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }

.contClubDeVinos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "titulo titulo" "imgClub imgClub" "contenido contenido" "formulario formulario"; }
  .contClubDeVinos .titulo {
    grid-area: titulo;
    margin-top: 10px; }
  .contClubDeVinos .imgClub {
    grid-area: imgClub; }
    .contClubDeVinos .imgClub .imgClubDelVino {
      width: 90%;
      margin: 5px; }
  .contClubDeVinos .contenido {
    grid-area: contenido;
    margin: 10px 0px; }
  .contClubDeVinos .formulario {
    grid-area: formulario; }
  .contClubDeVinos .contenedorFormFlex {
    display: flex;
    justify-content: center; }
    .contClubDeVinos .contenedorFormFlex .form {
      display: flex;
      flex-direction: column;
      background-color: rgba(104, 16, 16, 0.61);
      border-radius: 10px;
      width: 90%;
      margin: 30px; }
      .contClubDeVinos .contenedorFormFlex .form input {
        display: block;
        margin: 10px;
        background-color: black;
        color: white;
        text-align: center; }
        .contClubDeVinos .contenedorFormFlex .form input:hover {
          background-color: #202020; }
      .contClubDeVinos .contenedorFormFlex .form textarea {
        margin: 10px;
        background-color: rgba(82, 7, 7, 0.678); }
        .contClubDeVinos .contenedorFormFlex .form textarea:hover {
          background-color: rgba(97, 12, 12, 0.678); }

.contenedorFormFlex {
  display: flex;
  justify-content: center; }
  .contenedorFormFlex .form {
    display: flex;
    flex-direction: column;
    background-color: rgba(104, 16, 16, 0.61);
    border-radius: 10px;
    width: 90%;
    margin: 30px; }
    .contenedorFormFlex .form input {
      display: block;
      margin: 10px;
      background-color: black;
      color: white;
      text-align: center; }
      .contenedorFormFlex .form input:hover {
        background-color: #202020; }
    .contenedorFormFlex .form textarea {
      margin: 10px;
      background-color: rgba(82, 7, 7, 0.678); }
      .contenedorFormFlex .form textarea:hover {
        background-color: rgba(97, 12, 12, 0.678); }

.iframe {
  display: flex;
  justify-content: center; }
  .iframe iframe {
    margin: 50px 0px;
    width: 90%;
    height: 250px; }

.footer {
  display: flex;
  justify-content: center; }
  .footer .contenedorHorarios ul {
    flex-direction: column;
    color: white;
    text-align: center; }
  .footer .contenedorPagos {
    margin: 2px; }
    .footer .contenedorPagos ul li img {
      display: flex;
      flex-direction: row;
      width: 28px; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media (min-width: 768px) {
  body .section {
    grid-area: section; }
    body .section .contenedorCards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly; }
    body .section .contenedorPrincipal {
      display: flex;
      margin: 50px;
      flex-direction: column; }
      body .section .contenedorPrincipal .regalo {
        margin: 10px;
        display: flex;
        flex-direction: row;
        border: 2px #412b2b dotted;
        border-radius: 15px;
        padding: 10px;
        justify-content: flex-start;
        align-items: center; }
        body .section .contenedorPrincipal .regalo:hover {
          border: 2px #a81414 dotted; }
        body .section .contenedorPrincipal .regalo img {
          width: 170px;
          border-radius: 5px;
          border: 2px black solid; }
          body .section .contenedorPrincipal .regalo img:hover {
            transform: skew(2deg, -2deg);
            transition: .3s; }
        body .section .contenedorPrincipal .regalo .textoRegalo {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          margin: 10px; }
    body .section .contClubDeVinos {
      display: grid;
      grid-template-columns: 40% 60%;
      grid-template-rows: 50px 1fr 1fr;
      grid-template-areas: "titulo titulo" "imgClub contenido" "formulario formulario"; }
      body .section .contClubDeVinos .titulo {
        grid-area: titulo; }
      body .section .contClubDeVinos .imgClub {
        grid-area: imgClub; }
      body .section .contClubDeVinos .contenido {
        grid-area: contenido; }
      body .section .contClubDeVinos .formulario {
        grid-area: formulario; }
    body .section .contenedorFormFlex {
      display: flex;
      justify-content: center; }
      body .section .contenedorFormFlex .form {
        display: flex;
        flex-direction: column;
        background-color: rgba(104, 16, 16, 0.61);
        border-radius: 10px;
        width: 60%;
        margin: 30px; }
        body .section .contenedorFormFlex .form input {
          display: block;
          margin: 10px;
          background-color: black;
          color: white;
          text-align: center; }
          body .section .contenedorFormFlex .form input:hover {
            background-color: #202020; }
        body .section .contenedorFormFlex .form textarea {
          margin: 10px;
          background-color: rgba(82, 7, 7, 0.678); }
          body .section .contenedorFormFlex .form textarea:hover {
            background-color: rgba(97, 12, 12, 0.678); }
  body .footer {
    grid-area: footer;
    align-items: center; } }

@media (min-width: 1024px) {
  body .section .contenedorCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }
  body .section .contenedorPrincipal {
    display: flex;
    margin: 50px;
    flex-direction: column; }
    body .section .contenedorPrincipal .regalo {
      margin: 10px;
      display: flex;
      flex-direction: row;
      border: 2px #412b2b dotted;
      border-radius: 15px;
      padding: 10px;
      justify-content: flex-start;
      align-items: center; }
      body .section .contenedorPrincipal .regalo:hover {
        border: 2px #a81414 dotted; }
      body .section .contenedorPrincipal .regalo img {
        width: 170px;
        border-radius: 5px;
        border: 2px black solid; }
        body .section .contenedorPrincipal .regalo img:hover {
          transform: skew(2deg, -2deg);
          transition: .3s; }
      body .section .contenedorPrincipal .regalo .textoRegalo {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        margin: 10px; }
  body .section .promociones {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "promo1 descripcionPromo1 descripcionPromo2 promo2" "promo3 descripcionPromo3 descripcionPromo4 promo4"; }
    body .section .promociones .promo1 {
      grid-area: promo1; }
      body .section .promociones .promo1 img {
        width: 250px;
        margin: 10px; }
    body .section .promociones .descripcionPromo1 {
      grid-area: descripcionPromo1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
    body .section .promociones .descripcionPromo2 {
      grid-area: descripcionPromo2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
    body .section .promociones .promo2 {
      grid-area: promo2; }
      body .section .promociones .promo2 img {
        width: 250px;
        margin: 10px; }
  body .section .promo3 {
    grid-area: promo3; }
    body .section .promo3 img {
      width: 250px;
      margin: 10px; }
  body .section .descripcionPromo3 {
    grid-area: descripcionPromo3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  body .section .descripcionPromo4 {
    grid-area: descripcionPromo4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  body .section .promo4 {
    grid-area: promo4; }
    body .section .promo4 img {
      width: 250px;
      margin: 10px; }
  body .contClubDeVinos {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 50px 1fr 1fr;
    grid-template-areas: "titulo titulo" "imgClub contenido" "formulario formulario"; }
    body .contClubDeVinos .titulo {
      grid-area: titulo; }
    body .contClubDeVinos .imgClub {
      grid-area: imgClub; }
    body .contClubDeVinos .contenido {
      grid-area: contenido; }
    body .contClubDeVinos .formulario {
      grid-area: formulario; }
  body .contenedorFormFlex {
    display: flex;
    justify-content: center; }
    body .contenedorFormFlex .form {
      display: flex;
      flex-direction: column;
      background-color: rgba(104, 16, 16, 0.61);
      border-radius: 10px;
      width: 50%;
      margin: 30px; }
      body .contenedorFormFlex .form input {
        display: block;
        margin: 10px;
        background-color: black;
        color: white;
        text-align: center; }
        body .contenedorFormFlex .form input:hover {
          background-color: #202020; }
      body .contenedorFormFlex .form textarea {
        margin: 10px;
        background-color: rgba(82, 7, 7, 0.678); }
        body .contenedorFormFlex .form textarea:hover {
          background-color: rgba(97, 12, 12, 0.678); }
  .footer {
    align-items: flex-end;
    margin: 20px; } }
