%reseteo{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}

%estiloNav{
    font-weight: bolder;
    color: rgb(155, 148, 148);
}

%estiloCard{
    border-radius: 20px;
    width: 250px;
    background-image: linear-gradient(45deg, white, rgb(61, 61, 61));
    margin: 5px;
    padding: 5px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

%tituloFooter{
    text-align: center;
    color: white;
    font-size: 20px;
}

%listaFooter{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
    margin: 10px 0px;
}

@mixin estiloForm($colorFondo, $radio){
    background-color: $colorFondo;
    border-radius: $radio;
}
@mixin recuadro($tamanio){
    .contenedorFormFlex{
        display: flex;
        justify-content: center;
        .form{
          display: flex;
          flex-direction: column;
          @include estiloForm(rgba(104, 16, 16, 0.61), 10px);
          width: $tamanio;
          margin: 30px;
          input{
            display: block;
            margin: 10px;
            background-color: black;
            color: white;
            text-align: center;
            &:hover{
              background-color: rgb(32, 32, 32);
            }
          }
          textarea{
            margin: 10px;
            background-color: rgba(82, 7, 7, 0.678);
            &:hover{
              background-color: rgba(97, 12, 12, 0.678);
            }
          }
        }
      }  
}

@mixin contenidoPrincipalDesktopTablet($direction, $textDirection) {
  .contenedorPrincipal{
    display: flex;
    margin: 50px;
    flex-direction: column;
    .regalo{
      margin: 10px;
      display: flex;
      flex-direction: $direction;
      border: 2px rgb(65, 43, 43) dotted;
      border-radius: 15px;
      padding: 10px;
      justify-content: flex-start;
      align-items: center;
      &:hover{
        border: 2px rgb(168, 20, 20) dotted;
      }
      img{
        width: 170px;
        border-radius: 5px;
        border: 2px black solid;
        &:hover{
          transform: skew(2deg,-2deg);
          transition: .3s;
        }
      }
      .textoRegalo{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: $textDirection;
        margin: 10px;
      }
    }
  }
}
@mixin fotoJustificada($justificacion){
  
    display: flex;
    justify-content: $justificacion;
    img{
      width: 140px;
      margin: 5px;
      border:2px black solid;
      &:hover{
        transform: skew(2deg,-2deg);
        transition: .3s;
      }  
    }
  
}

@mixin textoJustificado($justificacion){
  
    display: flex;
    flex-direction: column;
    align-items: $justificacion;
    justify-content: center;
  
}

@mixin imagenPromo($tamanio){
  img{
    width: $tamanio;
    margin: 10px;
  }
}

@mixin colorFondo($color){
  background-image: radial-gradient(rgb(219, 181, 181), $color) ;
}