.contClubDeVinos {  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "titulo titulo"
    "imgClub imgClub"
    "contenido contenido"
    "formulario formulario";
  .titulo{
    grid-area: titulo; 
    margin-top: 10px;  
  }
  .imgClub{
    grid-area: imgClub;
    .imgClubDelVino{
      width: 90%;
      margin: 5px;
    }
  }
  .contenido{
    grid-area: contenido; 
    margin: 10px 0px;
  }
  .formulario{
    grid-area: formulario;
  }
  @include recuadro(90%);
}