body{
  background-image: radial-gradient(rgb(73, 73, 73), black);
  .section{
    grid-area: section;
    color: white;
    text-align: center;
    h2{
      margin-top: 35px;
    }
    h3{
      margin-top: 15px;
    }
    @include contenidoPrincipalDesktopTablet(column, center);
    
    .contenedorCards{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .card{
        @extend %estiloCard;
        .contImgCard{
          img{
            width: 230px;
            border-radius: 20px;
            &:hover{
              transform: scale(1,1.1) translateY(15px);
              transition: .3s;
            }
          }
        }
        .contTxtCard{
          color: black;
        }
        .contBtnCard{
          .verMas{
            background-image: linear-gradient(to right, rgb(180, 57, 57), rgb(43, 22, 22));
            border-radius: 5px;
            color:rgb(255, 255, 255);
            font-size: 15px;
            padding: 3px;
            &:hover{
              background-image: linear-gradient(to right, rgb(160, 110, 110), rgb(199, 67, 67));
              transform: scale(1,1.3);
              transition: .3s;
            }
          }
        }
      }
    }

    
  }
}