.footer {
    display: flex;
    justify-content: center;
    .contenedorContactos{
      h4{
        @extend %tituloFooter;
      }
      ul{
        @extend %listaFooter;
      }
    }
    .contenedorHorarios{
      h4{
        @extend %tituloFooter;
      }
      ul{
        @extend %listaFooter;
        flex-direction: column;
        color: white;
        text-align: center;
      }
    }
    .contenedorPagos{
      margin: 2px;
      h4{
        @extend %tituloFooter;
      }
      ul{
        @extend %listaFooter;
        li{
          img{
            display: flex;
            flex-direction: row;
            width: 28px;
          }
        }
      }
    }
  }
  

  