.navbar {
  background-image: linear-gradient(to right,rgb(14, 14, 14),rgb(36, 36, 36));
  .container-fluid{
    a{
      .navbar-brand{
        width: 120px;
        border-radius: 15px;
      }
    }
    .navbar-collapse{
      justify-content: flex-end;
      
        .navbar-nav{
          align-items: flex-end;
          @extend %estiloNav;
          .nav-item{
            .nav-link{
              color: white;
              &:hover{
                background-color: grey;
                transform: scale(1,1.3);
                transition: .3s;
              }
            }
            .active{
              @extend %estiloNav;
            }
          }
        }
      
    }
  }
}
