.cartelAlerta{
    background-image: radial-gradient(rgb(70, 3, 3),rgb(233, 6, 6)) ;
    animation-name: aparecer;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-delay: .3s;
  }
  